.formDiv{
  display:flex;
  flex-direction: column;
  width: 150px
}
#addForm{
  display:flex;
  justify-content: center;
  width: 300px;
  height: 800px;
  background-color: grey;
}
form{
  display:flex;
  flex-direction: column;
  padding: auto;
  margin:auto;
}
#i1{
  width:200px;
}
.field{
  width:200px;
}
