.cardGroup
  user-drag: none
  user-select: none
  -moz-user-select: none
  -webkit-user-drag: none
  -webkit-user-select: none
  -ms-user-select: none


circle
  fill: rgb(221, 182, 170)

.rectCard
  stroke: rgb(186, 186, 186)
  stroke-width: 1
  fill: rgb(209, 209, 209)

.rectAvatar
  fill: rgb(255, 255, 255)

.rectTitleCard
  fill: rgb(255, 255, 255)

.rectCardDraggleTarget
  fill: rgba(255, 255, 255,0)
